{% extends 'layout.twig' %}
{% import 'classes/form.class.twig' as forms %}

{% block styles %}
    <link rel="stylesheet" href="../css/auth.css">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" name="login" id="login">Вход</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" name="signup" id="signup">Регистрация</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                {{ forms.logIn() }}
                                {{ forms.signIn() }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="js/auth.js"></script>
{% endblock %}