{% extends 'layout.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-3">Добро пожаловать в Social Booster!</h1>
        <p class="lead">Social Booster - полноценный комплекс утилит для продвижения вашего медиа-ресурса в сети Интернет.</p>
        <hr class="my-4">
        <p>В частности, в таких социальных сетях как <b>Vkontakte</b>, <b>Facebook</b> и <b>Twitter</b>.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
        </p>
    </div>
{% endblock %}
