{% extends 'layout.twig' %}

{% block content %}
    <h1>Добро пожаловать в Social Booster!</h1>
    <div id="h2" class="h3">
        Social Booster - полноценный комплекс утилит для продвижения вашего медиа-ресурса в сети Интернет.
        В частности, в таких социальных сетях как <b>Vkontakte</b>, <b>Facebook</b> и <b>Twitter</b>.
    </div>
{% endblock %}
