<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    {#<link rel='stylesheet' href='/stylesheets/style.css' />#}
</head>
<body>
<h1>You are welcome in the {{ title }} project</h1>
{#{% block body %}{% endblock %}#}
</body>
</html>