{% import 'classes/layout.class.twig' as layout %}

<!DOCTYPE html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="../css/main.css">
    {% block styles %}
    {% endblock %}
</head>
<div class="container">
    <div id="_header">
        {% block header %}
            {{ layout.mainMenu(page, false) }}
        {% endblock %}
    </div>
    <div id="_container">
        {% block content %}{% endblock %}
    </div>
    <div id="_footer">
        {% block footer %}
            {{ layout.mainMenu(page, true) }}
        {% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        crossorigin="anonymous">
</script>
{% block scripts %}
{% endblock %}
</body>
</html>