{% extends 'layout.twig' %}

{% block styles %}
    <link rel="stylesheet" href="../css/profile.css">
{% endblock %}

{% block content %}
    <div class="row">
        <div id="user_media" class="col-md-3">
            <div class="card text-center">
                <img class="card-img-top" src="../images/noava.png" alt="User profile image">
                <div class="card-block">
                    <h4 class="user-name card-title ">{{ user.profile.name }}</h4>
                    <p class="user-info card-text">{{ user.profile.email }}</p>
                </div>
            </div>
        </div>
        <div id="user_profile" class="col-md-9">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Настройки</a>
                </li>
            </ul>
            <div id="accounts" class="section row">
                <p class="h4">Подключение социального аккаунта</p>
                <div id="accounts__vk" class="account">
                    {% if not user.account %}
                        <button id="connect_vk_account" class="btn btn-default">
                                Подключить аккаунт Vkontakte
                        </button>
                    {% else %}
                        <p>Подключен VK - аккаунт : <br>
                            <b>{{ user.account.first_name }} {{ user.account.last_name }}</b></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="../js/profile.js"></script>
    <script src="https://vk.com/js/api/openapi.js?150" type="text/javascript"></script>
{% endblock %}